{% extends 'home.html' %}
<!--extends home template-->
{% block content %}

<h1>Competitions</h1>

<div>

    <!--sends GET to view if enter info-->
    <form method="GET" >
        {{filter.form}} <!--create filter from context in view(return)-->
        <button type="submit"> Search </button>
    </form>
    
</div>
<div>
    <button><h3><a href="{% url 'randcomp' %}"> Random competition</a></h3></button>
</div>
<div>
    <button>Insert +</button>
</div>
<div>
    <table>
        {% for competition in competitions %}
        <tr>
            <td>{{competition.c_id}}</td>
            <td>{{competition.c_name}}</td>
            <td>{{competition.c_location}}</td>
            <td>{{competition.c_date}}</td>
            <td>{{competition.participantsno}}</td>
            <td><button>update</button></td>
            <td><button>delete</button></td>
        </tr>
        {% endfor %}
        
    </table>
</div>

{% endblock %}