{% extends 'home.html' %}
<!--extends home template-->
{% block content %}

<h1>Competitions</h1>

<div>

    <!--sends GET to view if enter info-->
    <form method="GET" >
        {{filter.form}} <!--create filter from context in view(return)-->
        <button type="submit"> Search </button>
    </form>
    
</div>
<div>
    <button><h3><a href="{% url 'randcomp' %}"> Random competition</a></h3></button>
</div>
<div>
    <button><a href="{% url 'userforms' page='Competition' what='insert' entry=0 %}">Insert +</a></button>
</div>
<div>
    <table>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Competition Date&Time</th>
        <th>Participants</th>
        <th></th>
        <th></th>
        <th><h5>Perennials</h5></th>
        <th><h5>Annuals</h5></th>
        {% for competition in competitions %}
        <tr>
            <td>{{competition.c_id}}</td>
            <td>{{competition.c_name}}</td>
            <td>{{competition.c_location}}</td>
            <td>{{competition.c_date}}</td>
            <td>{{competition.participantsno}}</td>
            <td><button><a href="{% url 'userforms' page='Competition' what='update' entry=competition.c_id %}">Update<a/></button></td>
            <td><button>
                <a href="{% url 'delete_object' obj_type='competition' obj_id=competition.c_id %}">Remove</a>
            </button></td>
            <td><button><a href="{% url 'subclass' pora='perennial' id=competition.c_id %}">{{competition.perennials_set.count}}</a></button></td>
            <td><button><a href="{% url 'subclass' pora='annual' id=competition.c_id %}">{{competition.annuals_set.count}}</a></button></td>
        </tr>
        {% endfor %}
        
    </table>
</div>

{% endblock %}