{% extends 'home.html' %}
<!--extends home template-->
{% block content %}
<div>
    <p>Entries</p>
</div>

<div>
    <form method="GET" >
        <div class="fifth">
        {{filter.form}} 
        <button type="submit"> Search </button>
        <button><a href="{% url 'aform' entry=entry what='insert' page='usentry' %}">Insert+</a></button>
        </div>
    </form>
    
</div>

<div class="tableees">
    <table>
        {% for entry in entries %}
        <tr>
            <td>{{entry.f_id}}</td>
            <td>{{entry.species}}</td>
            <td>{{entry.size}}</td>
            <td>{{entry.color}}</td>
            <td>{{entry.age}}</td>
            <td><button>
                <a href="{% url 'aform' entry=entry.f_id what='update' page='usentry' %}">Update</a>
            </button></td>
            <td><button>
                <a href="{% url 'delete_object' obj_type='entries' obj_id=entry.f_id %}">Remove</a>
            </button></td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}