{% extends 'home.html' %}

{% block content %}

    {% if what == "insert" and page == "User"%}
    
        <div>
            <form method="POST">
                {% csrf_token %}
                {{userform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>

    {% elif what == "Update" %}
    <p>{{what}}</p>
    {% elif what == "Remove" %}

    {% elif what == "insert" and page == "Organizer" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{organizerform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>

    {% elif what == "insert" and page == "Competition" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{competitionform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
        {% elif what == "insert" and page == "Userentry" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{flowerform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
