{% extends 'home.html' %}

{% block content %}

    {% if what == "insert" and page == "User"%}
    
        <div>
            <form method="POST">
                {% csrf_token %}
                {{userform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>

    {% elif what == "update" and page == "User" %}
        <h1>Update User</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ userform.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    {% elif what == "Remove" %}

    {% elif what == "insert" and page == "Organizer" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{organizerform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    
    {% elif what == "update" and page == "Organizer" %}
        <h1>Update Organizer</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ organizerform.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>

    {% elif what == "insert" and page == "Competition" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{competitionform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    
    {% elif what == "update" and page == "Competition" %}
        <h1>Update Competition</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ competitionform.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    {% elif what == "insert" and page == "usentry" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{flowerform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    {% elif what == "update" and page == "usentry" %}
        
        <div>
            <form method="POST">
                {% csrf_token %}
                {{flowerform.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
