{% extends 'home.html' %}
<!--extends home template-->
{% block content %}

<h1>Organizers page</h1>
<div>

    <!--sends GET to view if enter info-->
    <form method="GET" >
        {{filter.form}} <!--create filter from context in view(return)-->
        <button type="submit"> Search </button>
    </form>
    
</div>
<div>
    <table>
    <!--for loop, organizers from context in view(return)-->
        {% for organizer in organizers %}
        <tr>
            <td>{{organizer.o_id}}</td>
            <td>{{organizer.o_name}}</td>
            <td>{{organizer.specialty}}</td>
            <td><button>update</button></td>
            <td><button>remove</button></td>
            <td><button>entries</button></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}