{% extends 'home.html' %}
<!--extends home template-->

{% block content %}
<h1>Search page</h1>
<div>

    <!--sends GET to view if enter info-->
    <form method="GET" >
        {{filter.form}} <!--create filter from context in view(return)-->
        <button type="submit"> Search </button>
    </form>
    
</div>

<div>
    <table>

        <!--for loop, users from context in view(returns)-->
        {%for user in users%}
        <tr>

            <!--row for every user in table-->
            <td>{{user.u_id}}</td>
            <td>{{user.u_name}} </td>  
            <td>{{user.u_address}}</td>
            <td>{{user.entriesno}}</td>
            <td>update</td>
            <td>remove</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}