{% extends 'home.html' %}
<!--extends home template-->
{% block content %}

    {% if perorann == "perennial" %}
    <div class="text2">
        <p>Perennials</p>
    </div>
    <div>
        <form method="GET" >
            <div class="fifth">
            {{filter.form}} 
            <button type="submit"> Search </button>
            <button><a href="{% url 'asubform' pora=perorann id=theid what='insert' %}">Insert+</a></button>
            </div>
        </form>
        
    </div>
    <div class="tableees">
        <table>
            {% for perennial in perennials %}
            <tr>
                <td>{{perennial.perennial_id}}</td>
                <td>{{perennial.perennials}}</td>
                <td><button>
                    <a href="{% url 'asubform' pora=perorann id=perennial.perennial_id what='update' %}">Update</a>
                </button></td>
                <td><button>
                    <a href="{% url 'delete_object' obj_type='perennials' obj_id=perennial.perennial_id %}">Remove</a>
                </button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% elif perorann == "annual" %}
    <div class="text2">
        <p>Annuals</p>
    </div>

    <div>
        <form method="GET" >
            <div class="fifth">
            {{filter.form}} 
            <button type="submit"> Search </button>
            <button><a href="{% url 'asubform' pora=perorann id=theid what='insert' %}">Insert+</a></button>
            </div>
        </form>
        
    </div>

    <div class="tableees">
        <table>
            {% for annual in annuals %}
            <tr>
                <td>{{annual.annual_id}}</td>
                <td>{{annual.annuals}}</td>
                <td><button>
                    <a href="{% url 'asubform' pora=perorann id=annual.annual_id what='update' %}">Update</a>
                </button></td>
                <td><button>
                    <a href="{% url 'delete_object' obj_type='annuals' obj_id=annual.annual_id %}">Remove</a>
                </button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

{% endblock %}