{% extends 'home.html' %}
<!--extends home template-->

{% block content %}
<div class="text2">
    <h1>Participants</h1>
    <p>Total Entries: {{ entry_count }}</p>  <!-- Display the entry count -->
    <p>Total Users: {{ user_count }}</p>
</div>

<div>
    <!--sends GET to view if enter info-->
    <form method="GET" >
        <div class="fifth">
        {{filter.form}} <!--create filter from context in view(return)-->
        <button type="submit"> Search </button>
        <button><a href="{% url 'userforms' page='User' what='insert' entry=0 %}">Insert +</a></button>
        </div>
    </form>
    
</div>
    

<div class="tableees">
    <table>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Entries</th>
        <!--for loop, users from context in view(returns)-->
        {%for user in users%}
        <tr>

            <!--row for every user in table-->
            <td>{{user.u_id}}</td>
            <td>{{user.u_name}} </td>  
            <td>{{user.u_address}}</td>
            <td>{{user.entriesNo}}</td>
            <td>
                <button> 
                    <a href="{% url 'userforms' page='User' what='update' entry=user.u_id %}">Update</a>
                </button>
            </td>
            <td>
                <button><a href="{% url 'delete_object' obj_type='user' obj_id=user.u_id %}">Remove</a></button>
            </td>
            <td><button><a href="{% url 'entries' entry=user.u_id %}">entries</a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}